<div id= "<%= parent + "_comments" %>">
    <% comments = commentable.comments.ordered.limit(10) %>
    <% for comment in comments do%>
      <%= render comment%>
    <%end%>
      <div class="d-flex flex-row justify-content-center">
    <%#     params.slice(:parent, :actionable, :includeList, :oldestActionId) %>
</div>
  </div>
  <% if comments.length == 10%>
      <%= link_to "Load More", load_more_comment_path(parent: parent, commentable: commentable, oldestCommentId: comments.last&.id),
      id: "load_more_comments_" + parent, 
      data: { turbo_stream: true }, 
      class: "btn btn-outline-primary mb-1 w-100 rounded-0"%>
<% end %>