
<% content_for :title, "Comments" %>
<%= turbo_frame_tag Comment.comments,  target:"_top" do %>
    <div id="comments" >
      <h1>
        Comments
      </h1>
      <% for comment in @commentable.comments do%>
        <%= render comment%>
    <%end%>
    </div>
     <%end%>
