
<% content_for :title, "Comments" %>
<%= turbo_frame_tag "comments" %>
    <div id="comments" >
      <% for comment in @commentable.comments do%>
        <%= render comment%>
    <%end%>
    </div>
<%end%>
