<h1>Action History</h1>
<div id="actions" class="d-flex flex-column w-100">
  <div class="d-flex flex-row">
      <h3 class="w-20">Entry ID</h3>
      <h3 class="w-20">Action Type</h3>
      <h3 class="w-20">Author</h3>
      <h3 class="w-20">Description</h3>
      <h3 class="w-20">Time</h3>
  </div>
    <div id="actions_body">
     <% for action in @actions%>
        <%= render action%>
    <% end %>
    </div>
</div>
