
<div id="project_entries">
<h1>Action History</h1>
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Entry ID</th>
      <th scope="col">Action Type</th>
      <th scope="col">Author</th>
      <th scope="col">Description</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
     <% for action in @actions%>
      <tr>
        <td><%action.id%></td>
        <td><%action.action_type%></td>
        <td><%action.user_id%></td>
        <td><%action.description%></td>
        <td><%action.created_at%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>