<div id="<%= "action_section_"+parent %>" class = "border border-secondary bg-success mb-5 rounded-3" style="--bs-bg-opacity: .5;">
        <%= link_to section_actions_path(parent: parent, actionable: actionable, includeList: includeList),
        data: { turbo_stream: true },
        class: "w-100 d-flex flex-row p-2" ,style:"text-decoration:none" do %>
            <h1 class="text-primary my-auto ms-4">Action History</h1>
            <div class="ms-auto me-5 my-auto">
                <i class="custom-arrow-down"></i>
             </div>
        <% end %>
</div>