<div id="<%= "action_section_" + parent %>" class = "border border-secondary w-100 bg-success mb-5 rounded-3" style="--bs-bg-opacity: .5;">
    <%= link_to section_reset_actions_path(parent: parent, actionable: actionable, includeList: includeList),
        data: { turbo_stream: true },
        class: "w-100 d-flex flex-row p-2" ,style:"text-decoration:none" do %>
            <h1 class="text-primary my-auto  ms-4">Action History</h1>
            <div class="ms-auto me-5 mt-3">
                <i class="custom-arrow-up"></i>
             </div>
    <% end %>
    <hr>
    <% 
    case parent
    when "" 
        actionable = Project.find(actionable)
    when "user"
        actionable = User.find(actionable)
    else
        actionable = ProjectEntry.find(actionable)
    end    %>
    <%= render "actions/actions", actionable: actionable ,includeList: includeList, parent:parent%>
    <%= link_to section_reset_actions_path(parent: parent, actionable: actionable, includeList: includeList),
        data: { turbo_stream: true },
        class: "w-100 d-flex flex-row  pt-3" ,style:"text-decoration:none" do %>
            <div class="mx-auto mt-2" style="margin-top: 30px;">
                <i class="custom-arrow-up"></i>
             </div>
    <% end %>
</div>