<footer class="bg-success text-white text-center py-3">
  <div class="container">
    <p class="mb-1">This project is open source. Fork and Pulls are welcome!</p>
    <p class="mb-0">
      <a href="https://bossadapt.org" class="text-white me-3" target="_blank" rel="noopener noreferrer">
        Resume
      </a>
      <a href="https:github.com/bossadapt" class="text-white me-3" target="_blank" rel="noopener noreferrer">
        GitHub
      </a>
      <a href="https://linkedin.com/in/devin-phillips-040699191/" class="text-white" target="_blank" rel="noopener noreferrer">
        LinkedIn
      </a>
    </p>
  </div>
</footer>