<% content_for :title, "Project entries" %>
<div id="project_entries">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  New Project Entry
</button>

      </th>
      <th scope="col">Assigned</th>
      <th scope="col">Accepted</th>
      <th scope="col">In Progress</th>
      <th scope="col">Completed</th>
    </tr>
  </thead>
  <%= turbo_frame_tag "project_entries_body" do%>
    <%render "project_entries/project_entries_table_body", locals:{ project_entries:@project_entries}%>
  <% end %>
</table>
</div>


<!-- NEW POPUP -->
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Project Entry</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <%= turbo_frame_tag "new_project_entry", src: new_project_entry_path(project_id: @project.id), target: "_top"%>
      </div>
    </div>
  </div>
</div>
