<% content_for :title, "Project entries" %>
<div id="project_entries" class="mx-5">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th class="w-20" scope="col">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newProjectEntryModal">
  New Project Entry
</button>

      </th>
      <th class="w-20" scope="col">Assigned</th>
      <th class="w-20" scope="col">Accepted</th>
      <th class="w-20" scope="col">In Progress</th>
      <th class="w-20" scope="col">Completed</th>
    </tr>
  </thead>
  <%= render "project_entries/project_entries_table_body", project_entries: project_entries  %>

</table>
</div>


<!-- Create Popup -->
<div class="modal" id="newProjectEntryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Project Entry</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <%= turbo_frame_tag "new_project_entry", src: new_project_entry_path(project_id: @project.id), target: "_top"%>
      </div>
    </div>
  </div>
</div>
<!-- Show / Edit popup -->
<div class="modal" id="displayProjectEntryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Project Entry</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <%= turbo_frame_tag "project_entry_frame", src: "", target: "_top"%>
      </div>
    </div>
  </div>
</div>
