<% content_for :title, "Editing project entry" %>

<h1>Editing project entry</h1>
  <%= turbo_frame_tag "project_entry_edit", target: "_top" do%>
    <%= render "form_edit", project_entry: @project_entry %>
  <% end %>

<br>

<div>
  <%= link_to "Show this project entry", @project_entry %> |
  <%= link_to "Back to project entries", project_entries_path %>
</div>
