<p style="color: green"><%= notice %></p>
<%= link_to "GOTO Parent Project", project_path(@project_entry.project_id), class: "btn btn-success text-primary w-100 mt-3 mb-3" %> 
<%= render @project_entry %>

