<p style="color: green"><%= notice %></p>

<% content_for :title, "Projects" %>

<h1>Projects</h1>
<div id="projects">
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
   <%=
    if @focusedProject.nil?
      "Select Project"
    else
    @focusedProject.title
    end
    %>
  </button>
  <ul class="dropdown-menu">
  <% @projects.each do |project| %>
        <%= link_to project.title, project_path(project), class:"dropdown-item" %>
  <% end %>
    </ul>
</div>
  <%
    if !@focusedProject.nil?
      render @focusedProject
    end
    %>
</div>

<%= link_to "New project", new_project_path %>
