  <div class="dropdown">
    <button
    class="nav-link text-secondary dropdown-toggle"
    data-controller="dropdown"
    data-action="click-> dropdown#toggle"
    data-toggle="dropdown"
    aria-expanded="false">
      Projects
    </button>

    <ul class="dropdown-menu w-75">
        <% projects.each do |project| %>
            <li id= <%= project.id.to_s + "Dropdown"%>><%= link_to project.title,
            project_path(project), class: "dropdown-item w-100", style:"overflow: hidden; white-space: nowrap; text-overflow: ellipsis;",onclick: "history.pushState({}, '', '#{project_path(project)}')", data: { turbo_frame:
            "project_frame"} %> 
            <hr>
        <% end %></li>
      <li><%= link_to "New Project", new_project_path, class: "dropdown-item" %></li> 
    </ul>
  </div>