<h1>Projects</h1>

<div id="projects">
  <%= render "projects/projects_dropdown", projects: @projects %>
  <%= turbo_frame_tag "project_frame" do %>
  <div id="current_project">
  </div>
  <% end %>
</div>
