<h1>Projects</h1>

<div id="projects">
  <div class="dropdown" data-controller="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Select a Project
    </button>

    <ul class="dropdown-menu">
      <% @projects.each do |project| %>
        <%= link_to project.title,
        project_path(project), class: "dropdown-item", data: { turbo_frame:
        "project_frame", action: "click->dropdown#select"} %> 
      <% end %>
      <%= link_to "New Project", new_project_path, class: "dropdown-item" %> 
    </ul>
  </div>
<%= turbo_frame_tag "project_frame" do %>
  <div id="current_project">
  </div>
  <% end %>
</div>
