<h1 class="text-primary">Projects</h1>

<div id="projects">
  <% for project in current_user.projects %>
  <div class="d-flex flex-row">
    <%= link_to "GOTO" , project_path(project), class:"btn btn-primary my-auto"%>
    <%= render "projects/project", project: project %>
  </div>
  <% end %>
</div>
