<% content_for :title, "New project" %>
<div class="d-flex flex-column justify-content-center align-items-center text-primary mt-5">
  <h1>New project</h1>
  <%= render "form", project: @project%>
  <%= link_to "Return to projects", projects_path,class:"btn btn-success w-75 mt-3 mb-5" %>
</div>