// Entry point for your Sass build
:root {
  --primary: #66FCF1;
  --secondary: #45A29E;
  --primary-light: #C5C6C7;
  --background-light: #1F2833;
  --background-dark: #0B0C10;
  --bs-body-bg: #0B0C10;
}
$primary: #66FCF1;
$secondary: #45A29E;
$success: #1F2833;
$info: #C5C6C7;
//Warning this is a light color
$light: white;
$dark: #000;
form .field_with_errors {
  display: inline;
  width: 100%;
}
form .field_with_errors input,
form .field_with_errors textarea,
form .field_with_errors select {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important; 
}

.field_with_errors .invalid-feedback {
  display: block; /* Ensure error messages are visible */
}
.w-20{
  width: 20%;

}
//realized after doing this I essentialy wanted a static size lol, oh well
@media only screen and (max-width: 800px) {
  .w-25-75{
    width:75%;
  }
}
@media only screen and (min-width: 800px) {
  .w-25-75{
    width:50%;
  }
}
@media only screen and (min-width: 1100px) {
  .w-25-75{
    width:25%;
  }
}
@import "custom_bootstrap";
.custom-arrow-down {
  border: solid $primary;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 9px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.custom-arrow-up {
  border: solid $primary;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 9px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
