// Entry point for your Sass build
:root {
  --primary: #66FCF1;
  --secondary: #45A29E;
  --primary-light: #C5C6C7;
  --background-light: #1F2833;
  --background-dark: #0B0C10;
  --bs-body-bg: #0B0C10;
}
$primary: #66FCF1;
$secondary: #45A29E;
$success: #66FCF1;
$info: #C5C6C7;
$light: #C5C6C7;
$dark: #1F2833;
@import "custom_bootstrap";
.w-20{
  width: 20%;
}